.wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #bae8e8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 4rem auto;
  padding: 1rem;
  max-width: 500px;

  span {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .details_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.detail {
  width: 100%;

  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
